body main {
  margin: 10px auto; 
  width: 800px;
}
header {
  color: white;
  background-color: #283618;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: oblique;
  font-family: helvetica, arial, san-serif;
  text-align: center
}
h2 {
  color: #bc6c25;
  text-align: center;
  font-family: helvetica, arial, san-serif;
}
footer {
  background-color: #283618;
  color: white;
  font-size: 15px;
  font-family: helvetica, arial, san-serif;
}
.column {
  float: left;
  width: 33.33%;
}
/* Clear floats after the columns */
.row:after {
  content:"";
  display: table;
  clear: both;
}
#columnheader {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.centered {
  text-align: center;
}
footer{
  padding: 0 20px;
}
table {
  width: 100% }
