body {
  margin: 10px auto; 
  width: 800px;
  background-color: #Fefae0;
}
header {
  color: #606c38;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: oblique;
  font-family: helvetica, aerial, sam-serif;
}
h2 {
  color: #bc6c25
}
